<!-- HEADER -->
<section id="header-2" class="header-2">

    <div class="mbox">

        <div class="menu-box">

            <a href="index.html" class="logo-button">
                <img src="images/logo.png" alt="logo">
            </a>

            <a href="javascript:void(0)" class="header-contact form-up nav-button">Contact us</a>

            <div class="nav-manu">

                <a href="/#section3" class="nav-button"><p><span>wu</span><br>why us</p></a>

                <a href="/#section4" class="nav-button"><p><span>p</span><br>portfolio</p></a>

                <a href="/#section5" class="nav-button"><p><span>SD</span><br>site development</p></a>

                <a href="javascript:void(0);" class="nav-button"><p><span>r</span><br>reviews</p></a>

                <a href="#footer" class="nav-button GoTo"><p><span>c</span><br>contact</p></a>
                
            </div>

            <div id="right-box" class="right-box">

                <div class="close-button nav-button">
                    <div class="close-icon">
                        <div class="first-element element"></div>
                        <div class="second-element element"></div>
                    </div>
                    <p>Close</p>
                </div>

                <div class="form-box">

                    <form action="ajax.php" id="contact-form" class="contact-form">

                        <div class="contact-form-title">
                            <h4>Якщо ви маєте питаня, або проект для нас - заповніть форму і ми з вами зв’яжемось!</h4>
                        </div>

                        <div class="contact-form-row cfix">

                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <!--<div class="form_input">-->
                                        <input type="text" id="contact_name" name="contact_name" required="required" value="" placeholder="YOUR EMAIL">
                                    <!--</div>-->
                                </div>
                            </div>

                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <!--<div class="form_input">-->
                                        <input type="text" id="contact_email" name="contact_email" value="" required="required" placeholder="YOUR MASSAGE">
                                    <!--</div>-->
                                </div>
                            </div>

                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <!--<div class="form_input">-->
                                        <textarea placeholder="YOUR MASSAGE"></textarea>
                                    <!--</div>-->
                                </div>
                            </div>

                        </div>

                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <!--<button type="submit" class="contact-submit">
                                    <span>Отправить заявку</span>
                                </button>-->
                                <button type="submit">SEND MASSAGE</button>
                            </div>
                        </div>
                    </form>

                </div>

            </div>
        </div>

        <div class="title">
            <h1>question & answer</h1>
        </div>

    </div>

</section>
<!-- /HEADER -->

