<div class="hidden-block">

    <div id="call_success">
         <div class="call-success-wrap">
             <div class="call-success-title"><!-- Спасибо за заявку!--></div>
             <div class="call-success-subtitle"><!-- Мы свяжемся с Вами в ближайшее время --></div>
         </div>
    </div>

    <div id="call-popup">
        <form action="ajax.php" class="contact-form">
            <div class="contact-form-title">
                <!-- Title -->
            </div>
            <div class="contact-form-row cfix">

                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <!--<div class="form_input">-->
                            <input type="text" id="name" name="hidden_contact_name" required="required" value="" placeholder="YOUR NAME">
                        <!--</div>-->
                    </div>
                </div>

                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <!--<div class="form_input">-->
                            <input type="text" id="mail" name="hidden_contact_email" value="" required="required" placeholder="YOUR EMAIL">
                        <!--</div>-->
                    </div>
                </div>

                <div class="contact-form-item">
                    <div class="contact-form-item-input form_row">
                        <!--<div class="form_input">-->
                            <textarea placeholder="YOUR MASSAGE"></textarea>
                        <!--</div>-->
                    </div>
                </div>
            </div>
            <div class="contact-form-row cfix">
                <div class="contact-form-item">
                    <button type="submit" class="contact-submit">
                        <span>SEND MASSAGE</span>
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>