<section id="section3" class="section3">
  <div class="mbox">
    <div class="title">
      <h2>First off all we want you to know why you should work with us:</h2>
    </div>
    <ul>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/pc-icon.png" alt="pc">
          </div>
          <figcaption>Individual Design</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/research-icon.png" alt="research">
          </div>
          <figcaption>Business research</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/agreements-icon.png" alt="agreements">
          </div>
          <figcaption>Official agreements  for USA Citizens</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/paid-icon.png" alt="paid">
          </div>
          <figcaption>The work is done -  the bills are paid</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/control-icon.png" alt="control">
          </div>
          <figcaption>The power of Control</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/support-icon.png" alt="support">
          </div>
          <figcaption>The power of Support</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/price-icon.png" alt="price">
          </div>
          <figcaption>The Price</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
      <li>
        <figure>
          <div class="item-icon">
            <img src="images/SEO-icon.png" alt="SEO">
          </div>
          <figcaption>SEO</figcaption>
        </figure>
        <div class="item-hover">
          <h6>Business research</h6>
          <div class="item-content">
            <p>We are believing in that we can give you the best quality only if we can learn everything about your business. You will talk with our analysts to give them all information for better understanding your business and your preference. Mission of your business, tasks of your business, all this questions are highly important.</p>
          </div>
        </div>
      </li>
    </ul>
    <div class="button-row">
      <div class="button-hint">
        <p>For more information click</p>
      </div>
      <a href="#" class="button">HERE</a>
    </div>
  </div>
</section>