<section class="section8">
  <div class="mbox">
    <h2>All prices are indicated with a discount and we can change them at any time</h2>
    <div class="prices-info">
      <p>We are proposing to our clients, to do not use the templates, so we can make all of your ideas come true with different technologies and web-developing.</p>
      <p>Standard Sites and Standard Sites with Ecommerce are made in <b style="color:#00838f;">WordPress</b> Base. It is the most common platform in the world for the creating easy Web-Sites.</p>
      <p>If you need more powerful We can use other Frameworks, like <b style="color:#00838f;">Django</b> on <b style="color:#00838f;">Python</b> language of programming, or we can use the other fast and powerful Frameworks on PhP.</p>
      <p>For more information you can read Q & A, which includes the most common questions from our customers.</p>
      <a href="q_and_a.html">Click here for more information.</a>
    </div>
  </div>
</section>