<section id="section4" class="section4">
  <div class="mbox">
    <div class="title">
      <h2>our portfolio</h2>
    </div>
    <div class="portfolio-wrap">
      <ul>
        <li>
          <img src="images/clock.jpg" alt="clock">
          <span class="portfolio-content">
            <h3>ecommerc selling watches</h3>
            <a href="#">view website</a>
          </span>
        </li>
        <li>
          <img src="images/building.jpg" alt="building">
          <span class="portfolio-content">
            <h3>ecommerc selling watches</h3>
            <a href="#">view website</a>
          </span>
        </li>
      </ul>
      <ul>
        <li>
          <img src="images/cow.jpg" alt="cow">
          <span class="portfolio-content">
            <h3>ecommerc selling watches</h3>
            <a href="#">view website</a>
          </span>
        </li>
        <li>
          <img src="images/seating.jpg" alt="seating">
          <span class="portfolio-content">
            <h3>ecommerc selling watches</h3>
            <a href="#">view website</a>
          </span>
        </li>
      </ul>
    </div>
    <div class="button-row">
      <a href="#" class="button button-long">show more projects</a>
    </div>
  </div>
</section>