<section id="section5" class="section5">

    <div class="top-box">
        <div class="title">
            <h2>Let me tell you how it works:</h2>
        </div>
    </div>

    <div class="content-box">
        
        <div class="mbox">

            <div class="items-box">
                
                <div class="item item-left-image item-tab tab-active">

                    <div class="img-box">
                        <img src="images/section5-item-icon-1.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title1">
                            <h3>Research</h3>
                        </div>

                        <p>It is really important to understand yours business and to know what makes yours business differ from other companies and make everything work well. Our analyst would find everything we need to make your Site look fabulous.</p>

                    </div>

                </div>

                <div class="item item-right-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-2.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title2">
                            <h3>Prototype</h3>
                        </div>

                        <p>The Prototype is the first step of creating, it doesn’t have the design, but but it is the simple way to find out where the pages would be, how they will work and where will be the information. </p>

                    </div>

                </div>

                <div class="item item-left-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-3.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title3">
                            <h3>Design</h3>
                        </div>

                        <p>After the prototyping - the designer will make the design, on this step you will know how your Site will look like. If you will need to change something - we will make it. It called Edits. You will have 2 free circles of Edits, that’s how you can be sure that we will make everything exactly how you want. </p>

                    </div>

                </div>

                <div class="item item-right-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-4.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title4">
                            <h3>Front End Developing</h3>
                        </div>

                        <p>Our Front End Developer would put the Design into your Site. It is already the half of the way.  On this step you will see how your Site would look like in the Web and how it would work with the Design. <br>On this step you also will have 2 circles of Edits for free.</p>

                    </div>

                </div>

                <div class="item item-left-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-5.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title5">
                            <h3>Back End Developing</h3>
                        </div>

                        <p>And now Back End Developer will make Administration panel, payment system, Google Analytics, E-mail delivery, security system, itc. </p>

                    </div>

                </div>

                <div class="item item-right-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-6.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title6">
                            <h3>The Hosting</h3>
                        </div>

                        <p>And finally we will put your Site on Hosting (it’s like virtual house for your Site). And after that everyone would have opportunity visit the Site.</p>

                    </div>

                </div>

                <div class="item item-left-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-7.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title7">
                            <h3>Filling</h3>
                        </div>

                        <p>Everything well done, and here it's last touch - you need to fill your Site with goods and products, write descriptions and so on. For the extra pay - we can do it for you.</p>

                    </div>

                </div>

                <div class="item item-right-image item-tab">

                    <div class="img-box">
                        <img src="images/section5-item-icon-8.png" alt="image">
                    </div>

                    <div class="text-box">

                        <div class="title-item title8">
                            <h3>Education</h3>
                        </div>

                        <p>You will have 2 hours of consultation, we will teach you how to use your Site properly absolutely free. </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>