<section id="section2" class="section2">
    <div class="mbox">

        <div class="left-box">
            <div class="title-box">
                <div class="title-after">
                    <h2>Create a website for your business and pleasure </h2>
                </div>
                <h3>Mobile friendly, fast and individual</h3>
            </div>
            <div class="content-text">
                <p>Welcome to our site Proud Whale. We are working hard for making beautiful, safe, and what is more important - peculiar Web Sites, which perfectly much for your business.</p>
            </div>
        </div>

        <div class="right-box">
            <img src="images/section2-box-bg.png" alt="image">
        </div>
    
    </div>
</section>