<section class="section7">
  <div class="mbox">
    <div class="title">
      <h2>our prices</h2>
    </div>
    <ul>
      <li>
        <div class="prices-top">
          <div class="prices-title">
            <h3>Стандартний сайт</h3>
          </div>
          <div class="prices-content">
            <p>We can make Basic Site for your Business. You will have from 1 to 5 unique pages.</p>
            <p>For an example: The main Page, About, Contacts, Price, Blog (with the pre-view)</p> 
            <p>The Blog page is one unique page, but you can create as much pages as you want on it’s pattern.</p>
          </div>
        </div>
        <div class="prices-bottom">
          <div class="price">
            <p><b>4000</b> $</p>
          </div>
          <a href="#">Show more detailes</a>
        </div>
      </li>
      <li>
        <div class="prices-top">
          <div class="prices-title">
            <h3>Стандартний сайт з EcommerCe</h3>
          </div>
          <div class="prices-content">
            <p>Виготовляємо для вас базовий сайт з 8 сторінок, і ще + Сторінка категорій товарів, сторінка товару(зможете додавати скільки завгодно таких сторінок), Кошик, Сторінка доставки і оплати. </p>
            <br>
            <p>Інтегруємо платіжну систему за вашим бажанням(Наприклад Pay Pal)</p>
          </div>
        </div>
        <div class="prices-bottom">
          <div class="price">
            <p><b>6500</b> $</p>
          </div>
          <a href="#">Show more detailes</a>
        </div>
      </li>
      <li>
        <div class="prices-top">
          <div class="prices-title">
            <h3>Індивідуальний сайт</h3>
          </div>
          <div class="prices-content">
            <p>We can make different, Individual Sites, if you don’t want Standard Site and want to add something else to your Standard Site or Standard Site with Ecommerce.</p>
            <p>We will add everything you want and need, we can add more pages, or functionality for additional payment.</p>
          </div>
        </div>
        <div class="prices-bottom">
          <div class="price individ">
            <p><b>Individually</b></p>
          </div>
          <a href="#">Show more detailes</a>
        </div>
      </li>
    </ul>
    <div class="button-row">
      <a href="#" class="button button-long">Discuss my project</a>
    </div>
  </div>
</section>